# Database URL inside Docker Compose network
STAWISHA_DB_URL="postgres://stawisha_user:stawisha_password@db:5432/stawisha_db"

# JWT Secret Key
JWT_SECRET="replace_me_with_a_secret_key"

# Nodemailer / Email Auth
EMAIL_USER="your_email@gmail.com"
EMAIL_PASS="your_gmail_app_password"
